/* page 1 css 
*/
h1 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#body1 {
	background-color: #fce1e4;
	color: #000;
}
#main-navbar {
  background-color: #d4afb9;
  overflow: hidden;
  color: #ffff;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  background-color: #000;
}
html {
	width: 100%;
}
/* page 2 css
*/
#body2 {
	background-color: #d2fdbb;
	color: #000;
}
#main-navbar2 {
  background-color: #a6eca8;
  overflow: hidden;
  color: #000;
}
#navbar-container2 {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar2 ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#main-navbar2 ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar2 ul li a:hover {
  background-color: #000;
}
/* page 3 css
*/
#body3 {
	background-color: #d9c4ec;
	color: #000;
}
#main-navbar3 {
  background-color: #bea9df;
  overflow: hidden;
  color: #ffff;
}
#navbar-container3 {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar3 ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#main-navbar3 ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar3 ul li a:hover {
  background-color: #000;
}
html {
	width: 100%;
}
img1 {
  float: left;
  width: 33.33%;
  padding: 5px;
}
img2 {
  float: left;
  width: 33.33%;
  padding: 5px;
}
img3 {
  float: left;
  width: 33.33%;
  padding: 5px;
}
row {
	color: #bea9df;
}