/* page 1 css 
*/
h1 {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#body1 {
	background-color: #fce1e4;
	color: #000;
}
#main-navbar {
  background-color: #d4afb9;
  overflow: hidden;
  color: #ffff;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}
#main-navbar ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  background-color: #000;
}
html {
	width: 100%;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:1%;
	margin-top:1%;
}
/* page 2 css
*/
#body2 {
	background-color: #d2fdbb;
	color: #000;
}
#main-navbar2 {
  background-color: #a6eca8;
  overflow: hidden;
  color: #000;
}
#navbar-container2 {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}
#main-navbar2 ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar2 ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#main-navbar2 ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar2 ul li a:hover {
  background-color: #000;
}
/* page 3 css
*/
#body3 {
	background-color: #d9c4ec;
	color: #000;
}
#main-navbar3 {
  background-color: #bea9df;
  overflow: hidden;
  color: #ffff;
}
#navbar-container3 {
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}
#main-navbar3 ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar3 ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#main-navbar3 ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar3 ul li a:hover {
  background-color: #000;
}
html {
	width: 100%;
	
}
#art {
	border-style: outset;
	border-color: #bea9df;
	font-family: "Lucida Console", "Courier New", monospace;
	text-align: center;
}
.imgs{
	float: left;
	width: 33.33%;
	padding-left:5px; 
}
row::after {
  content: "";
  clear: both;
  display: table;
}